
body  {background-color:#632728;
color:#FFFFF;

}


h1 {color:#84875d;
display:inline;


}

#wrapper {
background-color:#000;
width:70%;
margin:auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
}

.box1 { grid-area: 1 / 1 / 2 / 2; }



.box4 { grid-area: 2 / 1 / 3 / 2; }

.box5 { grid-area: 2 / 2 / 3 / 3; }

.box6 { grid-area: 2 / 3 / 3 / 4; }




footer {

height:200px;

background-color:yellow;

}

